@tailwind base;
@tailwind components;
@tailwind utilities;



h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
a,
ul,
li {
  font-family: "brandon-grotesque", sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
}

h2 {
  font-size: 7rem;
  font-weight: 900;
}

h3 {
  font-size: 3rem;
  font-weight: 700;
  font-style: normal;
}

p {
  font-weight: 400;
  font-style: normal;
}

li {
  font-weight: 600;
  font-style: normal;
}

span {
  font-family: "brandon-grotesque", sans-serif;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.hidescroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

button.primary {
  padding: .5rem 1rem;
  border-radius: .5rem;
  background: #73268B;
}